article{
 width:750px;
margin-left: auto;
margin-right: auto;
 /*margin-left:15px;*/
 /*padding-left:65px;*/
}

.name,.hello{
margin-bottom: auto;   
margin-left: auto;
margin-right: auto;
display: inline;

}
.name{
    padding-bottom: 50px;
    padding-top: 50px;
    display: inherit;
}
